.member {
    background-color: var(--purple-light);
    color: var(--purple-neutral);
    aspect-ratio: 1 / 1;
    height: fit-content;
    max-height: 250px;
    padding: 25px;
    margin: 5px;
    align-content: center;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: var(--pink-dark) 0px 5px 4px, var(--pink-light) 0px 10px 6px, var(--beige-light) 0px 15px 8px;
}

.headshot {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: auto;
}

.margin {
    margin: 5px auto 5px auto;
}

.font-SCP{
    font-family: 'Source Code Pro';
}