.mission{
    min-height: 500px;
    min-width: 500px;
    margin: 10vw 0 20vh 0;
    padding: 20px;
    border-radius: 15px 0 0 15px;
    color: var(--purple-dark);
    background-color: var(--pink-light);
    box-shadow: var(--pink-dark) 50px 15px 2px, var(--purple-lighter) 100px 30px 4px, var(--purple-neutral) 150px 45px 6px;
}

.mission-title{
    margin: 0 0 3% 0;
    font-size: 375%;
}

.mission-body{
    font-size: 120%;
}

.font-SCP{
    font-family: 'Source Code Pro';
}