ul {
    list-style-type: none;
}

.navbar {
    height: 100vh;
    min-height: 400px;
    min-width: 300px;
    margin: 0 3vw 0 3vw;
    color: var(--purple-neutral);
    background-color: var(--purple-light);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.font-Pacifico {
    font-family: 'Pacifico';
    font-size: 200%;
    user-select: none;
}

.nav-items {
    padding: 4vh 0 10vh 0;
    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 130%;
}

.nav-link:hover {
    border-radius: 15px;
    background-color: var(--beige-light);
    color: var(--purple-dark);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.nav-socials {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.nav-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon:hover {
    background-color: var(--beige-light);
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}

.nav-icon>img:hover {
    filter: invert(32%) sepia(22%) saturate(1465%) hue-rotate(211deg) brightness(96%) contrast(81%);
}

img {
    object-fit: contain;
    width: 35px;
    height: 35px;
}

.spotify {

    /* vertical-align: middle; */
}

.instagram {}

.youtube {}

li {
    margin: 5px;
}