img {
    border-radius: 50%;
    object-fit: cover;
    width: 85%;
    height: 85%;
}

.n-bio{
    height: 20vh;
    width: 20vh;
    display: block;
    text-align: center;
    text-decoration: none;
}